body {
  background-color: #111;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

header .logo img {
    height: 50px;  
    width: 160px;
}

header .profile img {
  width: 40px;
}

.featured {
  height: 450px;
  background-image: url("https://ohthatfilmblog.files.wordpress.com/2020/09/maxresdefault-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.featured h2 {
  font-size: 50px;
  margin: 0;
}

/* .featured .featured__button {
  z-index: 1;
} */

.featured .featured__button button {
  font-size: 16px;
  color: white;
  background-color: rgba(51, 51, 51, 0.4);
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
}

.featured .featured__button .buttons__play {
  background-color: white;
  color: black;
}

.featured .featured__button i {
  margin-right: 6px;
}

.featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.featured::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7.4rem;
  /* background-color: green; */
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.featured .featured__description {
  max-width: 450px;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  padding-top: 5px;
}

/* .netflixOriginals__movies {
    padding-top: 20px;
    padding-bottom: 20px;
  } */

.netflixOriginals__movies,
.movies__container {
  padding-left: 50px;
  display: flex;
  overflow-x: scroll;
  /* white-space: nowrap;
    overflow: hidden; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.netflixOriginals__movies img {
  margin-right: 10px;
  height: 250px;
  width: auto;
}

.netflixOriginals__header h2,
.movies__header h2 {
  padding-left: 30px;
}

.movies__container img {
  margin-right: 10px;
  width: 100%;
  max-height: 100px;
  object-fit: contain;
}
.netflixOriginals__movies img,
.movies__container img {
  transition: all 0.2s;
  cursor: pointer;
}

.netflixOriginals__movies img:hover,
.movies__container img:hover {
  transform: scale(1.1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* Profile Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}