.select {
    position: relative;
    margin: 0 auto;
    width: auto;
      font-family: 'Work Sans', sans-serif;
    text-align: left;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  
  .select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    cursor: pointer;
      color: #FFF;
    font-size:18px
  }
  
  .select::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
    font-family: FontAwesome;
    content: "\f078";
  }
  
  .select:hover::after {
    color: #f39c12;
  }
  
  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  
  select option {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
      background-color: 1f93ef;
      font-family: 'Work Sans', sans-serif;
  }
  
  select > option 
  
  {-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}