/* modal content */
.modal-content-wrapper {
    max-width: 1400px;
    width: 90%;
    display: contents;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0;
  }
  .modal-content-wrapper .image-modal-content {
    flex: 0 0 25%;
    cursor: pointer;
    transition: 300ms ease-out;
    margin-bottom: 40px;
  }
  
  .modal-content-wrapper .image-modal-content:hover {
    transform: scale(1.03);
    transition: 300ms ease-in;
  }
  
  /* modal popup */
  .image-modal-popup {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    animation: 500ms fadeIn;
    display: none;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .image-modal-popup .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    position: relative;
  }
  
  .image-modal-popup .description {
    text-align: center;
  }
  .image-modal-popup img {
    width: 80%;
    max-height: calc(100vh - 150px);
    margin-bottom: 10px;
    cursor: pointer;
  }
  .image-modal-popup span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 4rem;
    color: red;
    cursor: pointer;
  }
  .image-modal-popup p {
    margin: 5px auto;
    font-size: 1.1rem;
  }
  .image-modal-popup a {
    margin-bottom: 5px;
    display: inline-block;
    color: #222;
    font-weight: 500;
    text-decoration: none;
    background: #fff;
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 6px;
  }
  